@charset "UTF-8";
/* Nav */
#nav {
    padding: 40px 0;
}
    /* Logo */
    .topbar .navbar-logo img {
        width: 137px;
        height: 40px;
    }
    /* Navbar */
    .topbar .navbar a {
        margin-left: auto;
        font-weight: 600;
        letter-spacing: .8px;
    }
    .active {
        color: var(--color-orange);
    }

/* Header */
/* header desc */
.header-desc {
    padding-right: 22px;
}
    .header-desc  h1{
        font-size: 3.75rem;
        line-height: 4.375rem;
    }
    .header-desc  p{
        font-size: 1.25rem;
        padding-right: 25px;
        line-height: 1.4375rem;
        margin-bottom: 37px;
    }
        /* header button */
        .header-desc .header-button a {
            margin-right: 27px;
        }
            .header-desc .header-button .header-play img {
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin-right: 15px;
            }
            .header-desc .header-button .header-play span {
                color: #AAAAAA;
                font-size: .93rem;
                cursor: pointer;
            }
/* header img */
.header-img img {
    width: 100%;
}
/* Ads */
#ads {
    padding: 96px 0;
}
    #ads img {
        cursor: pointer;
    }

/* Business */
#business {
    background: var(--color-bgcolor);
    background-image: url("../images/business/element.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    /* business desc */
    .busines-desc h2 {
        font-size: 2.81rem;
        line-height: 3.31rem;
        margin-bottom: 20px;
    }
    .busines-desc p {
        font-size: 1rem;
        margin-bottom: 35px;
    }
    /* business img */
    .business-img img {
        width: 100%;
    }
    .busines-desc a {
        display: inline-block;
    }